<a href="https://colab.research.google.com/github/rakhmatAI/DataScience_ML/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

# **Pandas Data Structure**

Pandas allow us to work with tabular datasets. Pandas that consists of 3 types as follows.

#    1. Series
#    2. DataFrame
#    3. Index

In a nutshell, you will see that a **Pandas DataFrame** and **Pandas Series** are labeled data (i.e. it has row names and column names.)

You'll also see that a **Pandas DataFrame** is a collection of Pandas Series (i.e. the invidual columns and rows).

# Pandas Series

A ***Pandas Series*** is a one-dimesional array that is very much similar to the Numpy array but with the ability to be labeled (i.e. the exis label or also colled the index). A Series can hold an integer, float, string, python object, etc. At a high-level, a Series can be through of as a column in Microsoft Excel.

# Pandas DataFrame

A ***Pands DataFrame*** is a two-dimensional array. At a high-level, a DataFrame can be throught of as the spreadsheet in Microsoft Excel (i.e. a M * N matrix where M denotes the rows and N the columns).

# Pandas Index 

The ***Index*** in Pandas is an inherent property of Series and DataFrame objects the server as a point of reference as to which rows and/or columns to perform operations on (i.e. for DataFrame) or the specific element in a Series to perform operetions on. By default, Pandas automatically assigns index number starting from 0 to denote the row numbers or columns numbers (i.e. if none are explicity defined).

**Pandas DataFrame**

By default, we can see that the *Index* values are integers. In the Index section we will be adding a label instead.

In [2]:
s1 = pd.Series([1, 2, 3, 4, 5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
pd.Series(['red', 'blue', 'green'])

0      red
1     blue
2    green
dtype: object

In [7]:
# Creating a DataFrame from a Numpy array
n1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df1 = pd.DataFrame(n1)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

# **Pandas Index**

Let's add some meaningful labels to the columns

**Pandas Series**

In [9]:
# Creating a Series from a list
l2 = [1, 2, 3, 4, 5]
s2 = pd.Series(l2, name='A')
s2

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

In [10]:
z1 = pd.Series([1, 2, 3, 4, 5], name='A')
z1

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

**Pandas DataFrame**

In [15]:
# Creating a DataFrame from a Numpy array
n2 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# Creating columns name
#df2 = pd.DataFrame(n2, columns=['A', 'B', 'C'])
#df2
# Creating columns and rows name
df3 = pd.DataFrame(n2, columns=['A', 'B', 'C'], index=['R1', 'R2', 'R3'])
df3

    A  B  C
R1  1  2  3
R2  4  5  6
R3  7  8  9

In [16]:
# Therefore to have a index with new names we will create a new DataFrame
df4 = df3.copy()
df4.index = ['John', 'Alex', 'Pee']
df4

      A  B  C
John  1  2  3
Alex  4  5  6
Pee   7  8  9

In [17]:
# Creating a DataFrame from a dictionary
d = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df5 = pd.DataFrame(d, index=['John', 'Olim', 'Sanjar'])
df5

        A  B  C
John    1  4  7
Olim    2  5  8
Sanjar  3  6  9

In [18]:
# Creating a DataFrame from a dictionary
d = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df5.index = (['John', 'Olim', 'Sanjar'])
df5

        A  B  C
John    1  4  7
Olim    2  5  8
Sanjar  3  6  9